//- layout.jade
doctype html
head
  title Chat Translator
  meta(charset="utf-8")
  link(rel="stylesheet", href="/css/normalize.css")
  link(rel="stylesheet", href="/css/style.css")
body
  include ./nav.jade
  block content